<tr>
  <th scope="row"><%= friend.email %></td>
  <td><%= friend.full_name %></th>
  <td>
    <%= button_to "Stop following", friends_path(friend), method: :delete, form: {data: {turbo_confirm: "Are you sure?"}}, class: "btn btn-sm btn-warning" %>
  </td>
</tr>
