<% if @friends %>
  <turbo-frame id="results">
    <div class="alert alert-info col-9" role="alert">
      <% @friends.each do |friend| %>
        <div class="row mb-0">
          <div class="col-8">
            <figure class="text-center">
              <strong>Name: </strong><%= friend.full_name %>
            </figure>
            <figure class="text-center">
              <strong>Email: </strong><%= friend.email %>
            </figure>
          </div>
          <div class="col-4 align-middle">
            <figure class="text-center">
              <%= link_to "View profile", user_path(friend), class: "btn btn-sm btn-primary", data: { turbo_frame: "_top" } %>
            </figure>
            <figure class="text-center">
              <% if current_user.not_friends_with?(friend.id) %>
                <%= button_to "Follow friend?", friendships_path(friend: friend), method: :post, form: {"data-turbo": false}, class: "btn btn-sm btn-success" %>
              <% else %>
                <div class="badge bg-secondary">Already following</div>
              <% end %>
            </figure>
          </div>
        </div>
        <hr />
      <% end %>
    </div>
  </turbo-frame>
<% end %>
